name: Nightly build
on:
  schedule:
    - cron: "0 3 * * *"
  push:
    branches:
      - master
      - main

jobs:
  nightly:
    uses: newrelic/coreint-automation/.github/workflows/reusable_nightly.yaml@NR-341878-Use-reusable-workflow-for-docker-image-security-checks
    secrets:
      docker_username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
      docker_password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}
    with:
      docker_image: newrelic/infrastructure-bundle
      docker_tag: nightly
      target_branches: "master,main"
      build_command: |
        export AGENT_VERSION=`go run ./downloader.go -agent-version-latest -staging`
        go run downloader.go -staging -override-latest
        ./docker-build.sh . --push
      setup_qemu: true
      setup_buildx: true
      setup_go: true
      go_version_file: go.mod
      trivy_scan: true