name: On demand build
on:
  workflow_dispatch:
    inputs:
      agent_version:
        description: 'Agent version'
        required: true
jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: newrelic/infrastructure-bundle
      DOCKER_IMAGE_TAG: dev
      AGENT_VERSION: ${{ github.event.inputs.agent_version }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: Download integrations
        env:
          # GITHUB_TOKEN is needed when -override-latest is used so we don't reach GH API rate limit
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: go run downloader.go -staging -override-latest

      - name: Run Trivy vulnerability scanner
        continue-on-error: true
        uses: aquasecurity/trivy-action@0.10.0
        with:
          image-ref: ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_IMAGE_TAG }}
          format: table
          exit-code: 1
          ignore-unfixed: true
          severity: CRITICAL,HIGH

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}
      - name: Build and push docker image
        run: ./docker-build.sh . --push

