name: On demand build
on:
  workflow_dispatch:
    inputs:
      agent_version:
        description: "Agent version"
        required: true
  push:
    branches:
      - NR-351464-add-fips-compliant-image
jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: newrelic/infrastructure-bundle
      DOCKER_IMAGE_TAG: dev
      AGENT_VERSION: ${{ github.event.inputs.agent_version }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Download integrations
        env:
          # GITHUB_TOKEN is needed when -override-latest is used so we don't reach GH API rate limit
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: go run downloader.go -staging -override-latest

      - name: Run Trivy vulnerability scanner
        continue-on-error: true
        uses: aquasecurity/trivy-action@0.29.0
        with:
          image-ref: ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_IMAGE_TAG }}
          format: table
          exit-code: 1
          ignore-unfixed: true
          severity: CRITICAL,HIGH
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db
          TRIVY_JAVA_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-java-db

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}
      - name: Build and push docker image
        run: ./docker-build.sh . --push
  
  build-fips:
    name: Build fips and push image
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: newrelic/infrastructure-bundle-fips
      DOCKER_IMAGE_TAG: dev
      AGENT_VERSION: ${{ github.event.inputs.agent_version }}
      OUTDIR: out-fips
      BASE_IMAGE_NAME: newrelic/infrastructure-fips
      DOCKER_PLATFORMS: linux/amd64,linux/arm64
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Download integrations
        env:
          # GITHUB_TOKEN is needed when -override-latest is used so we don't reach GH API rate limit
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: go run downloader.go -staging -override-latest -bundle=bundle-fips.yml -outdir=out-fips

      - name: Run Trivy vulnerability scanner
        continue-on-error: true
        uses: aquasecurity/trivy-action@0.29.0
        with:
          image-ref: ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_IMAGE_TAG }}
          format: table
          exit-code: 1
          ignore-unfixed: true
          severity: CRITICAL,HIGH
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db
          TRIVY_JAVA_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-java-db

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}
      - name: Build and push docker image
        run: ./docker-build.sh . --push
